:root {
  --primary: #382a94;
  --primary-dark: #2a2070;
  --primary-darkest: #21124f;
  --primary-contrast: #e8e4fc;
  --primary-light: #9b94cc;
  --primary-lightest: rgb(188, 183, 221);

  --secondary: #c9c8d4;
  --secondary-dark: #b5b4c0;
  --secondary-darkest: #92929d;
  --secondary-contrast: #303032;

  --background: #efeff1;
  --foreground: #3c3a3a;
  --border: #dddde2;

  --copy: #242329;
  --copy-light: #393741;

  --wheel-gradient-purple-stop-1: #5747c2;
  --wheel-gradient-purple-stop-2: #351f78;
  --wheel-gradient-yellow-stop-1: #df9f29;
  --wheel-gradient-yellow-stop-2: #a26c16;
  --wheel-gradient-red-stop-1: #e03246;
  --wheel-gradient-red-stop-2: #941a28;
  --wheel-gradient-grey-stop-1: #3c3a3a;
  --wheel-gradient-grey-stop-2: #181717;
}
